
/* Universal */

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  margin: 0;
}

.flex-column {
  flex-direction: column;
}


/*Header*/

h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #DD1972;
  margin: 0;
  padding-top: 1rem;
}

.title {
  align-items: bottom;
  height: 50%;
}

.heading-top {
  font-weight: 300;
}

header {
  background-color: #404041;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  height: 9rem;
}

.subtitle {
  width: 50%;
  height: 50%;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  text-align: center;
}

hr {
  width: 20%;
  margin: 0;
}

.heading-bottom {
  width: 70%;
  font-weight: 300;
  font-size: 1rem;
}

/*Set Range Card*/

label {
  display: inline-block;
}

.game {
  background-color: #F7F7F7;
  border: 1px solid #6E6E6E;
  width: 50%;
  padding-left: 0px;
}

.set-range-card {
  width: 95%;
  border: 1px solid #D0D2D3;
  background-color: #FFFFFF;
  margin: 1rem;
}


/*Guesses Card*/
.guesses-card {
  width: 95%;
  border: 1px solid #D0D2D3;
  background-color: #FFFFFF;
  margin: 1rem;
}


/*Latest Score Card*/
.latest-score {
  width: 95%;
  border: 1px solid #D0D2D3;
  background-color: #FFFFFF;
  margin: 1rem;
}

/*Results*/


@media  screen and (min-width: 900px)

