  
/* Universal */

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

main {
  color: #6E6E6E;
  width: 100%;
}

.left-card {
  padding: 10px;
  border: 1px solid #D0D2D3;
  background-color: #FFFFFF;
  margin: 1rem;
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

h3 {
  margin: 0 0 .4rem .2rem;

}


/*Header*/

h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #DD1972;
  margin: 0;
  padding-top: 1rem;
}

.title {
  align-items: bottom;
  height: 50%;
}

.heading-top {
  font-weight: 300;
}

header {
  background-color: #404041;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  height: 9rem;
}

.subtitle {
  width: 50%;
  height: 50%;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  text-align: center;
}

hr {
  width: 20%;
  margin: 0;
}

.heading-bottom {
  width: 70%;
  font-weight: 300;
  font-size: 1rem;
}


/***********GAME**************/
.game {
  background-color: #F7F7F7;
  border: 1px solid #6E6E6E;
  width: 50%;
  padding-left: 0px;
}


/*Set Range Card*/
.range {
  font-weight: 700;
  text-decoration: underline;
}

input {
  width: 90%;
  height: 1.5rem;
}
.player {
  width: 60%;
}

form {
  width: 100%;
}

.form-lable {
  margin: .2rem 0;
}

.set-range {
  width: 35%;
  height: 1.5rem;
}

.form-field {
  display: inline-block;
  padding: 0 0 .7rem .2rem ;
}

.guesses-card,
.set-range-card {
  margin-bottom: 0;
}

.current {
  margin-top: .2rem;
}

.guess {
  width: 30%;
}

/*Results*/


@media  screen and (min-width: 900px)

