  
/* Universal */

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

main {
  color: #6E6E6E;
  width: 100%;
}

.left-card {
  background-color: #FFFFFF;
  border: 1px solid #D0D2D3;
  margin: 1rem;
  padding: 10px;
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

h3 {
  margin: 0 0 .4rem .2rem;

}


/*Header*/

h1 {
  color: #DD1972;
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  padding-top: 1rem;
}

.title {
  align-items: bottom;
  height: 50%;
}

.heading-top {
  font-weight: 300;
}

header {
  align-items: center;
  background-color: #404041;
  flex-direction: column;
  height: 9rem;
  justify-content: center;
  text-transform: uppercase;
}

.subtitle {
  align-items: center;
  color: #FFFFFF;
  height: 50%;
  justify-content: center;
  text-align: center;
  width: 50%;
}

hr {
  margin: 0;
  width: 20%;
}

.heading-bottom {
  font-size: 1rem;
  font-weight: 300;
  width: 70%;
}


/***********GAME**************/
.game {
  background-color: #F7F7F7;
  border: 1px solid #6E6E6E;
  padding-left: 0px;
  width: 50%;
}


/*Set Range Card*/


input {
  height: 1.5rem;
  width: 90%;
}

.player {
  width: 60%;
}

form {
  width: 100%;
}

.form-lable {
  margin: .2rem 0;
}

.set-range {
  width: 33%;
}

.set-range-button {
  width: 30%;
}

.form-field {
  display: inline-block;
  padding: 0 0 .7rem .2rem ;
}

.range {
  font-weight: 700;
  text-decoration: underline;
}


.guesses-card,
.set-range-card {
  margin-bottom: 0;
}

.current {
  margin: .2rem 0 1.2rem 0;

}

.ch-two {
  padding-bottom: .5rem;
}

.guess {
  width: 35%;
}

.game-buttons{
  justify-content: space-around;
  padding-top: .5rem;
  width: 100%;
}

.g-button {
  width: 30%;
}

/*Results*/

.pink {
  color: #DD1972;
  font-size: 5rem;
  font-weight: 900;
  line-height: 0;
  margin: 3rem;
}

.latest-score {
  display: inline-block;
}

.outcome {
  display: inline-block;
  text-align: center;
  width: 48%;
}

.article-right {
  border-left: 2px solid #D0D2D3;
}

@media  screen and (min-width: 900px)

